@import '../../../assets/colors';
@import '../../../assets/mixins';

.gallery-cont {
  display: flex;
  height: rem-calc(592);
  justify-content: space-between;
  margin: 9em 0;

  .gallery-image {
    border-radius: rem-calc(8);
  }

  .images {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div {
      height: 47%;
    }
  }

  .alone {
    width: 57%;
  }
}

@media only screen and (max-width: 708px) {
  .gallery-cont {
    flex-direction: column;
    margin: 5em 0;
    height: rem-calc(756);

    & > div {
      height: 50%;
    }

    .alone,
    .images {
      width: 100%;
    }

    .alone {
      margin-top: 1em;
    }
  }
}
