@import '../../../assets/colors';
@import '../../../assets/mixins';

.advert {
  height: rem-calc(588);
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12em;

  .text-content {
    width: 49%;
    text-align: left;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    h4 {
      font-weight: bold;
      font-size: rem-calc(40);
      text-transform: uppercase;
      padding-right: 3em;
      margin-bottom: 0.8em;

      span {
        color: $orange;
      }
    }

    p {
      color: $secondary-text;
      font-size: rem-calc(15);
      letter-spacing: 0;
      padding-right: 6em;
      font-weight: 200;
      line-height: rem-calc(25);
    }
  }

  .image {
    width: 49%;
    border-radius: rem-calc(8);
    background: url('../../../assets/images/image-best-gear-tablet.jpg')
      no-repeat center center;
    background-size: cover;
  }
}

@media only screen and (max-width: 1024px) {
  .advert {
    flex-direction: column-reverse;
    margin-bottom: 6em;

    .image,
    .text-content {
      width: 100%;
    }

    .image {
      height: rem-calc(300);
      margin-bottom: 3em;
    }

    .text-content {
      text-align: center;
      padding: 0 4em;

      h4,
      p {
        padding: 0;
      }

      p {
        font-weight: 400;
      }
    }
  }
}
