@import '../../../assets/colors';
@import '../../../assets/mixins';

.product-details {
  margin-top: 10em;
  text-align: left;

  .back-button {
    font-weight: 200;
    font-size: rem-calc(15);
    text-transform: capitalize;

    &:hover {
      color: $orange;
      cursor: pointer;
    }
  }

  .product-image-cont {
    display: flex;
    height: rem-calc(560);
    margin: 5em 0 11em;

    .image-card {
      min-width: 50%;
      border-radius: rem-calc(8);
      background-color: $card-back;
    }

    .text-cont {
      padding-left: 7%;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .ad {
        color: $orange;
        text-transform: uppercase;
        font-size: rem-calc(14);
        margin-bottom: 1em;
        letter-spacing: rem-calc(10);
      }

      h2 {
        font-size: rem-calc(40);
        text-transform: uppercase;
      }

      .desc {
        font-size: rem-calc(15);
        font-weight: 200;
        line-height: rem-calc(25);
        margin: 2em 0 3em;
      }

      .price {
        font-weight: bold;
        font-size: rem-calc(18);
        margin-bottom: 2em;
      }

      .quantity-action {
        display: flex;

        .quantity-cont {
          margin-right: 1em;
        }
      }
    }
  }

  .descriptions {
    display: flex;
    font-weight: 200;

    & > div {
      width: 50%;
      font-size: rem-calc(15);
      white-space: pre-line;
      line-height: rem-calc(25);

      &:first-child {
        min-width: 57%;
      }

      &:last-child {
        padding-left: 7em;

        p {
          margin-bottom: 0.7em;
        }
      }

      h2 {
        font-weight: bold;
        text-transform: uppercase;
        font-size: rem-calc(32);
        margin-bottom: 1.5em;
      }

      span {
        color: $orange;
        font-weight: bold;
        margin-right: 1em;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .product-details {
    .product-image-cont {
      .image-card {
        min-width: 40%;
      }

      .text-cont {
        h2 {
          font-size: rem-calc(28);
        }
      }
    }

    .descriptions {
      flex-direction: column;

      & > div {
        width: 100%;

        &:last-child {
          padding-left: 0;
          margin-top: 10em;
          display: flex;
          width: 100%;
          justify-content: space-between;

          div {
            margin-right: 3em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 708px) {
  .product-details {
    margin-top: 7em;

    .product-image-cont {
      flex-direction: column;
      height: auto;
      margin: 2em 0 6em;

      .image-card {
        height: rem-calc(327);
        width: 100%;
        margin-bottom: 2em;
      }

      .text-cont {
        padding: 0;

        .quantity-action {
          button {
            padding: 1em;
          }
        }
      }
    }

    .descriptions {
      flex-direction: column;

      & > div {
        &:last-child {
          display: flex;
          flex-direction: column;
          margin-top: 5em;

          div {
            margin-right: 0;
          }
        }

        h2 {
          font-size: rem-calc(24);
        }
      }
    }
  }
}
