@import '../../../assets/colors';
@import '../../../assets/mixins';

.hero {
  height: rem-calc(729);
  background: url('../../../assets/images/image-hero.jpg') no-repeat center
    center;
  background-size: cover;
  display: flex;
  align-items: center;
  border-radius: 0 0 rem-calc(8) rem-calc(8);
  width: 100%;

  .content {
    width: 28rem;
    text-align: left;
    margin-left: 10vw;
    color: $white;

    .highlight {
      opacity: 49.64%;
      text-transform: uppercase;
      font-size: rem-calc(14);
      line-height: rem-calc(25);
    }

    h2 {
      font-size: rem-calc(52);
      margin: 0.5em 0;
      font-weight: bold;
      text-transform: uppercase;
      line-height: rem-calc(52);
    }

    .excerpt {
      opacity: 75%;
      font-size: rem-calc(15);
      font-weight: 200;
      margin-bottom: 2em;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .hero {
    background-image: url('../../../assets/images/image-header.jpg');
    justify-content: center;

    .content {
      margin-left: 0;
      text-align: center;

      .excerpt {
        font-weight: 400;
      }
    }
  }
}

@media only screen and (max-width: 708px) {
  .hero {
    height: rem-calc(650);
    background-image: url('../../../assets/images/image-header-mobile.jpg');
    border-radius: 0;

    .content {
      margin-top: 4em;

      h2 {
        font-size: rem-calc(36);
        line-height: rem-calc(40);
      }

      .excerpt {
        padding: 0 1.5em;
      }
    }
  }
}
