@import '../../../assets/colors';
@import '../../../assets/mixins';

section {
  margin-bottom: 12em;

  .first {
    background: url('../../../assets/images/pattern-circles.svg') no-repeat -10em -2em;
    background-color: $orange;
    width: 100%;
    height: rem-calc(560);
    border-radius: rem-calc(8);
    display: flex;
    align-items: center;
    overflow: hidden;

    .img-cont {
      height: 100%;
      flex: 1;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      img {
        height: 80%;
        width: auto;
        position: relative;
        bottom: -0.7em;
      }
    }

    .text-cont {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .text-content {
        width: 25em;
        text-align: left;
        color: $white;

        h4 {
          font-size: rem-calc(56);
          line-height: rem-calc(58);
        }

        p {
          margin: 1em 0 3em;
          font-weight: 200;
          font-size: rem-calc(15);
        }
      }
    }
  }

  .second {
    border-radius: rem-calc(8);
    background: url('../../../assets/images/image-speaker-zx7.jpg') no-repeat
      center center;
    background-size: cover;
    height: rem-calc(320);
    width: 100%;
    margin: 2.5em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 5em;
  }

  .third,
  .second {
    h4 {
      font-size: rem-calc(28);
      margin-bottom: 1em;
    }
  }

  .third {
    height: rem-calc(320);
    width: 100%;
    display: flex;
    justify-content: space-between;

    & > div {
      border-radius: rem-calc(8);
      width: 49%;
      background-color: $card-back;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 5em;

      &:first-child {
        background: url('../../../assets/images/image-earphones-yx1.jpg')
          no-repeat center center;
        background-size: cover;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  section {
    .first {
      flex-direction: column;
      background-position: center -18.9em;
      height: auto;

      .img-cont {
        margin: 4em 0 1em;
        height: 50%;

        img {
          height: auto;
          width: 11em;
          position: relative;
          bottom: -0.7em;
        }
      }

      .text-cont {
        margin: 4em 0 3em;

        .text-content {
          text-align: center;

          p {
            font-weight: 400;
          }
        }
      }
    }

    .second {
      padding: 0 3em;
    }

    .third {
      & > div {
        padding-left: 2em;
      }
    }
  }
}

@media only screen and (max-width: 708px) {
  section {
    margin-bottom: 6em;

    .first {
      background-size: 36em auto;
      background-position: center -8em;

      .img-cont {
        margin: 2em 0 1em;
      }

      .text-cont {
        margin: 2em 0 3em;

        .text-content {
          width: 100%;

          h4 {
            font-size: rem-calc(36);
            line-height: rem-calc(40);
          }
          p {
            padding: 0 1em;
          }
        }
      }
    }

    .second {
      background: url('../../../assets/images/image-speaker-zx7-mobile.jpg')
        no-repeat center center;
      background-size: cover;
      padding: 0 1em;
    }

    .third {
      flex-direction: column;
      height: rem-calc(500);

      & > div {
        width: 100%;

        &:first-child {
          margin-bottom: 2.5em;
        }
      }
    }
  }
}
