@import '../../../assets/colors';
@import '../../../assets/mixins';

.categories {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: rem-calc(30);
  grid-row-gap: rem-calc(40);
  margin: 12em 0;
}

.category {
  background-color: $card-back;
  display: flex;
  flex-direction: column;
  border-radius: rem-calc(8);
  align-items: center;
  justify-content: flex-end;
  padding: 4em 0 2em;
  height: rem-calc(204);
  position: relative;
  text-decoration: none;
  color: $primary-text;

  .image {
    position: absolute;
    height: auto;
    width: 12em;
    top: -4em;
  }

  .title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: rem-calc(18);
  }

  .link {
    color: $secondary-text;
    font-size: rem-calc(13);
    display: flex;
    align-items: center;
    margin-top: 0.7em;
    text-transform: uppercase;
    font-weight: bold;

    .arrow {
      margin-left: 0.5em;
      position: relative;
      top: 0.1em;
    }
  }

  &:hover {
    cursor: pointer;

    .link {
      color: $orange;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .categories {
    grid-column-gap: rem-calc(10);
    margin: 9em 0;
  }
}

@media only screen and (max-width: 708px) {
  .categories {
    grid-template-columns: auto;
    margin: 7em 0 5em;
  }

  .category {
    margin-bottom: 3em;
  }
}
