@import '../../assets/colors';
@import '../../assets/mixins';

header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 44;

  .header-content {
    display: inherit;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 2em 0;

    .mobile-logo {
      display: none;
    }

    .logo-cont {
      display: flex;
      align-items: center;

      .hamburger {
        display: none;
        margin-right: 2em;
      }
    }

    #menu-desktop {
      list-style: none;
      text-transform: uppercase;

      li {
        display: inline-block;
        font-weight: bold;
        margin: 0 1em;
        font-size: rem-calc(13);

        a {
          text-decoration: none;
          color: $white;

          &:hover {
            color: $orange;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  header {
    .header-content {
      .logo-cont {
        .hamburger {
          display: inline-block;
        }
      }

      #menu-desktop {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 708px) {
  header {
    .header-content {
      padding: 2em 5vw;
      width: 100%;

      .logo-cont {
        .hamburger {
          margin: 0;
        }

        .main-logo {
          display: none;
        }
      }

      .mobile-logo {
        display: inline-block;
      }
    }
  }
}
