@import '../../../assets/colors';
@import '../../../assets/mixins';

.quantity-cont {
  button,
  input {
    background-color: $card-back;
    border: 1px solid $card-back;
    outline: none !important;
    font-weight: bold;
  }

  button {
    color: $secondary-text;
    font-size: rem-calc(13);
    padding: 1em 1.5em;
  }

  input {
    width: 2em;
    text-align: center;
    padding: 1em 0;
  }
}
