$primary-text: rgba(0, 0, 0, 1);
$secondary-text: rgba(0, 0, 0, 0.5);
$orange: rgba(216, 125, 74, 1);
$white: rgba(255, 255, 255, 1);
$red: rgba(205, 44, 44, 1);
$page-background: rgba(250, 250, 250, 1);
$card-back: rgba(241, 241, 241, 1);
$lite-orange: rgba(251, 175, 133, 1);
